body {
    background-color: black;
    color: white;
    margin: 25px;
}

body h1 {

    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.logo {

    display: flex;
    justify-content: center;
}

.logo > img {

    width: 80%;
    height: 20%;
}

.stock-selection {

    width: 90%;
    height: 10%;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.stock-selection > p {

    font-size: 25px;
}

.stock-selection button {

    background-color: transparent;
    width: 32px;
    border-radius: 100px;
    border: 2px solid white;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}

.stock-name {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
}

.stock-chart {

    width: 90%;
    height: auto;
    background-color: white;
    margin: 4px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.last-stock-price {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
}

.percentage-change {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: black;
}

.trade-volume {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
}

.stock-screen {

    width: 90%;
    height: 60%;
    background-color: green;
    margin: 4px auto;
    display: flex;
    justify-content: center;
}

.stock-view {

    width: 100%;
}

.ai-analysis-field {

    display: flex;
    visibility: visible;
    justify-content: center;
}

.generate-analysis {

    background-color: white;
    border-radius: 8px;
    border: 0px;

    padding: 12px;
    color: black;
}

/*           */
/* ID Fields */
/*           */

#percentage-change-field {

    display: flex;
    align-items: center;
    max-width: 20%;
    justify-content: left;
}

#trend-arrow {

    max-width: 13%;
    min-width: 13%;
    height: 15%;
    margin: 10px;
}